/* Noto Sans SC Regular */
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    src: url('./fonts/noto-sans-sc-regular.woff2') format('woff2'),
         url('./fonts/noto-sans-sc-regular.woff') format('woff'),
         url('./fonts/noto-sans-sc-regular.ttf') format('truetype');
}

  /* Cairo Regular */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    src: url('./fonts/cairo-regular.woff2') format('woff2'),
         url('./fonts/cairo-regular.woff') format('woff'),
         url('./fonts/cairo-regular.ttf') format('truetype');
}

#quote {
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
    font-size: 4vw;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    color: white;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.75);
    width: 90%;
}

#quote.visible {
    opacity: 1;
}

#quote.bright {
    text-shadow: 0 0 20px rgb(17, 51, 31);
}

#countdown {
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    color: white;
    font-size: 14vw;
    line-height: .80em;
    transform-origin: center center;
}

#countdown.bright {
    text-shadow: 0 0 20px rgb(17, 51, 31);
}

#countdown.visible {
    opacity: 1;
}

#fakePadding {
    height: 35vh;
}

#stars {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

#stars.visible {
    opacity: 1;
}

#brightcover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0;
    background: -webkit-linear-gradient(to top, #4a8e23, #b1ffb1);
    background: linear-gradient(to top, #4a8e23, #b1ffb1);
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

#brightcover.bright {
    opacity: 1;
}

.container {
    padding-top: 32vh;
}

.glow {
    text-shadow: 0 0 20px #ffffff79;
    -webkit-appearance: none;
}

html {
    height: 100%;
}

body {
    font-family: 'Cairo', 'Noto Sans SC';
    height: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    background: -webkit-linear-gradient(to top, #091625, #000000);
    background: linear-gradient(to top, #091625, #000000); 
}

a {
    margin: auto;
    text-align: center;
}

b {
    font-size: 4vw;
    color: rgba(255, 255, 255, 0.75);
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    line-height: .95em;
    color:white;
    opacity: 0.1;
    transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    cursor: pointer;
}

footer:hover {
    opacity: 0.3;
}

footer.bright {
    color: rgb(255, 255, 255, );
    opacity: 0.35;
}

@media screen and (min-width: 800px) {
    #countdown {
        font-size: 7vw;
    }
    #quote {
        font-size: 2vw;
    }
    b {
        font-size: 2vw;
    }
    .container {
        padding-top: 30vh;
    }
}